<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div align="center">
        <h1>这是Auth认证服务器的注册系统</h1>
        <form action="/account/reg">
            <label id="username">账号</label>
            <input type="text" name="username"/><br/><br/>
            <label id="password">密码</label>
            <input type="password" name="password"/><br/><br/>
            <label id="message">这是私密信息</label>
            <input type="text" name="message"/><br/><br/>
            <input type="submit"/>
        </form>
    </div>
</body>
</html>